useDynLib(hemiphoto2LAI, .registration = TRUE, .fixes = "KYLE_")
importFrom("grDevices", "x11")
importFrom("graphics", "image","axis", "layout", "par", "plot", "points", "polygon", "rect", "title")
importFrom("methods", "hasArg")
export(estimateLAI)
export(evaluateLAD)
export(simHemiphoto)
S3method(print,hemiphoto)
S3method(plot, hemiphoto)
 
 